= form_for @listing, multipart: true do |f|
  - if @listing.errors.any?
    #error_explanation
      %h2
        = pluralize(@listing.errors.count, "error")
        prohibited this listing from being saved:
      %ul
        - @listing.errors.full_messages.each do |message|
          %li= message
  .input-field
    = f.label :title
    = f.text_field :title, placeholder: 'Ici'
  .input-field
    = f.label :description
    = f.text_area :description, :class => 'materialize-textarea'
  .input-field
    = f.label :picture
    = f.file_field :picture
  .input-field
    = f.label :price
    = f.text_field :price
  .input-field
    %select{name: 'listing[category_id]'}
      - Category.all.each do |cat|
        %option{value: cat.id}= cat.name
  .actions
    = f.submit 'Envoyer', :class => 'waves-effect waves-light btn'
